div{
    width:800px;
    height:800px;

    background-image: url('cat.jpg') ;
    background-repeat: no-repeat;

    /* background-position: left; */
    /* background-position: right; */
    /* background-position: top; */
    /* background-position: bottom; */
    /* background-position: center; */
    background-position: center top;

    /* background-size: auto; */
    /* background-size: cover; */
    /* background-size: contain; */
    
    background-size: 200px 300px;


}