img {
    width:300px;
}


/* 할일

마진
보더(외각선)
패딩 */
#xxx{
    margin:10px;
    border: 5px pink dashed;
    padding: 20px;
    border-radius: 30px;
    /* visibility: hidden; */
}

#f{
    width:200px;
    margin:10px;
}