#box {
    /*************************************************************************/
    /* grid 레이아웃을 이 요소의 자식들(아이템들) 에게 사용하겠다는 선언 */
    /* 컨테이너 안의 항목을 블록 레벨 요소로 배치함 */
    /*************************************************************************/
    display: grid;   


    /*************************************************************************/
    /* grid 레이아웃을 이 요소의 자식들(아이템들) 에게 사용하겠다는 선언 */
    /* 컨테이너 안의 항목을 인라인 레벨 요소로 배치함 */
    /*************************************************************************/    
    /* display: inline-grid; */
    

    /*************************************************************************/
    /* 이 부모의 자식 item들을 몇 열(column)로 배치 할지, 간격을 얼마로 할지 설정 */
    /*************************************************************************/
    /* 100px, 200px, 700px 으로 3개 열 지정. 아이템이 3개 초과인 경우 다음 행에 나타나게 됨.(이 설정 간격에 맞춰서) */
    /* grid-template-columns: 100px 200px 700px; */

    /* 1:1:1 비율로 3개 열 지정 */
    grid-template-columns: 1fr 1fr 1fr; 

    /*************************************************************************/
    /* 이 부모의 자식 item들을 몇 행(row)로 배치 할지, 간격을 얼마로 할지 설정 */
    /*************************************************************************/
    /* 400px, 600px 으로 2개 행 지정 */
    grid-template-rows: 400px 600px;

    /* 1:1:1 비율로 2개 행 지정 */
    /* grid-template-rows: 1fr 1fr;  */

    width: 1200px;
    height: auto;

    background-color: pink;
}

.ex {
    width: 100px;
    height: 100px;
}

#a{
    background-color: red;
    flex-basis: 10%;
}
#b{
    background-color: orange;
    flex-basis: 30%;
}
#c{
    background-color: yellow;
    flex-basis: 35%;
}
#d{
    background-color: green;
    flex-basis: 10%;
}
#e{
    background-color: blue;
    flex-basis: 15%;
}