body {
    background-image: url('https://upload3.inven.co.kr/upload/2021/02/25/bbs/i15745445892.jpg');
}

#myLayout{
    background-color: cornflowerblue;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
/* 상단 */
#top{
    background-color: red;
    width: 1600px; height: 120px;
    display: flex;
}

    #top_left {
        background-color: green;
        position: absolute;
        
        /* ✨ Flexbox 마법 시작 ✨ */
        display: flex;          /* 자식들을 가로로 나란히 배치 */
        align-items: center;    /* 세로 중앙 정렬 (margin-top 계산 필요 없음!) */
        height: 100%;           /* 부모(#top) 높이(120px)를 꽉 채우게 설정하여 중앙 정렬이 먹히도록 함 */
    }

        /* [수정됨] float 삭제 */
        #logo {
            width: 100px; 
            height: 100px; 
            margin: 10px;
            /* float: left;  <-- 삭제 */
        }

        /* [수정됨] float 및 margin-top 삭제 */
        #homepage_name {
            font-size: 1.2em; /* 오타 수정: font: size -> font-size */
            font-style: italic; 
            font-weight: 600;
            color: brown;
            margin-top: 50px;
            
            /* float: left;  <-- 삭제 */
            /* margin-top: 60px; <-- 삭제 (align-items: center가 대신 해줌) */
        }
    #top_banner{
        width: 1600px;
        height: 120px;
        background-color: pink;
        text-align: center;
    } 

#nav {
    background-color: gray;
    width: 1600px;
    height: 30px;
    display: flex;
    justify-content: center;    /* 수평(가로) 정렬이 가운데로 됨 */
    align-items: center;        /* 수직(세로) 정렬이 가운데로 됨 */
}

    #nav_content {
        background-color: red;
    }

#mid {
    background-color: pink;
    height: 800px;
    display: flex;
}

    #mid_left{
        background-color: orange;
        width: 200px;
    }
    #mid_mid {
        background-color: white;
        width: 1200px;
    }
    #mid_right {
        background-color: green;
        width: 200px;
    }

#bot {
    background-color: lightcyan;
    width: 1600px; height: 200px;
    position: fixed;
    bottom: 10px;

    font-size: 0.8em;
    color: gray;
}

#banner {
    margin-left: auto;
    margin-right: auto;
}

#login {
    width: 160px;
    height: 80px;
    background-color: green;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
}

    #login_id {
        width: 80px;
    }

    #login_pw {
        width: 80px;
    }

#board {
    background-color: red;
    width: 160px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
}

    .board_title {
        color: chartreuse;
        font-size: 1.2em;
        font-weight: 600;
        font-style: italic;
        text-align: center;
    }

#proud {
    background-color: pink;
    width: 160px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
}

.mid_img_box {
    width: 200px;
    height: 200px;
    border-width: 4px;
    border-style: solid;
    border-color: chartreuse;
}

.right_banner {
    width: 160px;
}


